.hidden{
    display: none;
    
}
html{
/*    filter: grayscale(40%);*/
    
}
h3{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
}
body{
    background-size: cover;
    
}
h2{
    text-align: center;
    color: white;
}

input{
    background: 0;
    border: 0;
    border-bottom: white 2px solid;
    color: white;    
}
.watch{
    color:white;
    font-size: 80px;
    padding: 5px;
    display: inline-block;
 }
.watch+span{
    color:white;
    font-size: 20px;
}
#holdingwatch{
    text-align: center;
}

ul{ width: 300px;
    list-style-type: none;
    background-color: rgba(110, 118, 121, 0.75);
    padding: 10px;
    border-radius: 10px;
}
ul>li{
    color:white;
    padding: 10px;
}
li>button{
    background: 0;
    border: 0;
    cursor: pointer;
}
h1{
    margin-bottom:0;
}
.middle{
    text-align: center;
}
.list{
    color:white;
    font-weight: bold;
    background-color:  rgba(110, 118, 121, 0.75);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    cursor: pointer;
}
/*
.opacity{
    opacity: 30%;
}

span{
    border-bottom: white solid 2px;
    opacity: 80%;
}
